# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env.local

# Node / Bun
node_modules/
bun.lockb
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log

# Swift / Xcode
.build/
.swiftpm/
DerivedData/
*.xcodeproj
*.xcworkspace
.DS_Store

